/* New BS5 design in November 2021 */
.sys_itemslist {
  list-style-type: none;
  padding: 0 0 0 0.5rem;
}
ul.sys_itemslist li a {
  text-decoration: none;
  display: block;
}
ul.sys_itemslist li a h3 {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
  color: #212529;
}
ul.sys_itemslist li a p {
  color: #212529;
  border-bottom: none;
  text-decoration: none;
}
ul.sys_itemslist li {
  border-bottom: 2px solid #206c49;
  padding: 35px 0 20px 0;
  margin: 0;
}
ul.sys_itemslist li:hover {
  background-color: #f8f9fa;
}
ul.sys_itemslist li a h3 {
  line-height: 1.4rem;
}
ul.sys_itemslist li:first-of-type {
  margin-top: -28px;
}
#GenericListHPFeatured_List ul li a {
  border-bottom: none;
}
